# Visual Studio
.vs/
bin/
obj/
*.user
*.suo


# Certificados digitais - NUNCA enviar para o Git
Certificados/
*.pfx
*.p12
*.cer
*.key


# Configurações locais
.env
.env.*
appsettings.Development.json


# Logs
logs/
*.log



